/* Admin: Featured Content Queue
----------------------------------*/
#slot-machine-content-queue-form div.slot-popup, #slot-machine-slot-this-form div.slot-popup {
	position: absolute;
	padding: 10px;
	width: 150px;
	display: none;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	z-index: 10;
}
#slot-machine-content-queue-form span.throbbing {
 background-image: url(../../../../../misc/throbber.gif);
 background-repeat: no-repeat;
 background-position: 100% -18px;
}
#slot-machine-topic-type-form div.queue-search { float: right; }

#slot-machine-content-queue-form table th { font-size: 10px; vertical-align: top; text-align: center; padding: 5px !important; }
#slot-machine-content-queue-form table th.active { white-space: nowrap; }
#slot-machine-content-queue-form table td { vertical-align: top; padding: 5px !important; }	
#slot-machine-content-queue-form table td a.author,
#slot-machine-content-queue-form table td a.choose { font-size: 11px; font-weight: bold; }

#results-per-page { position: relative; top: -27px; left: 15px; }
#results-per-page a { font-weight: bold; }

/* Admin: Slot Machine Schedule
----------------------------------*/
div.rot-checkbox {display: none;}
form#slot-machine-queue-form div#confirmation-popup {
	position: absolute;
	left: 50px;
	padding: 10px;
	width: 250px;
	display: none;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	z-index: 10;
}
